# Group Members:
* Sergio Hernandez Lopez
* Peyman Kor
* Emmanuel Obeng-Ankoana Yaafi

# Part 1

[transactions.csv](https://raw.githubusercontent.com/patrickcording/02807-comp-tools/master/docker/work/data/transactions.csv)

## The required libraries loaded.

In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import requests
import json
import pandas as pd

### Data retrieved and peep at the top

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/patrickcording/02807-comp-tools/master/docker/work/data/transactions.csv')
df.head(5)

#### The data is various companies in different countries and the dates unspecified products were sold. 
#### The data has 20568 rows and 6 columns. We will subsequently check the unusable entries according to each column. 
#### The obviously large number of rows make manual identification of wrong entries difficult to examine. We will use the tools available to us to examine, evaluate and manupulate the data so that we can transform the data to suit our purpose.

In [ ]:
df.isnull().sum(axis=0)

### The entries in the column 'part' appears to be nominal in nature. We have therefore decided to simply remove any null entry by rows.

In [ ]:
df.dropna(subset= ['part'], inplace=True)

In [ ]:
df.isnull().sum(axis=0)

### It can be seen that 'part' column no longer has null entries. We now move our attention to the column country. 

## We turn our attention to the 'company' column

In [ ]:
df1 = df['company'].value_counts(dropna = False)

In [ ]:
df1.sort_index()

#### From the output above, we have do some manupulation by replacing companies with almost equal names with the likeliest.

In [ ]:
df['company']=df['company'].str.replace('Laj0','Lajo')
df['company']=df['company'].str.replace('Ntagz','Ntags')
df['company']=df['company'].str.replace('Thoughtmixz','Thoughtmix')
df['company']=df['company'].str.replace('Zooxo.','Zooxo')
df1 = df['company'].value_counts(dropna = False)
df1.sort_index()

#### From the above information, we can deduce that companies '-', 'a', and 'aa' may represent given companies in their own right but we in no way able to know that. We can do further checks.

In [ ]:
company_aa = df[df['company'] == 'aa']
company_aa

In [ ]:
company_a = df[df['company'] == ' a'] 
company_a

In [ ]:
companydash = df[df['company'] == ' -']
companydash

In [ ]:
weird = pd.concat([company_aa, company_a, companydash])

In [ ]:
pd.merge(df, weird)

#### Now, what we can do is that we look at the all the companies who's city is New York, and we find the the only possible company is 'Wordify'

In [ ]:
df1=df[df.city =='New York']
df1.company.value_counts(dropna = False)

In [ ]:
df['company']=df['company'].str.replace(' a','Wordify')
df['company']=df['company'].str.replace('aa','Wordify')

#### Do the same approach for the Boston:

In [ ]:
df1 = df[df.city == 'Boston']
df1.company.value_counts()

In [ ]:
df['company']=df['company'].str.replace(' -','Zoonder')
df1 = df['company'].value_counts(dropna = False)
df1.sort_index()

#### Now, the company part is almost cleaned and is in the usable format, let's move and have a look on country section:

In [ ]:
df1 = df['country'].value_counts(dropna = False)
df1.sort_index()

#### It is determined countries have a huge number of null values and to use dropna module, we will significantly reduce the number of observations. Our next tasks are to utilise the tools available to use to reduce the number of null values while we keep the reduction of the number of the observations at the minimum.

#### Quickly resolving the obvious ones.

In [ ]:
df['country']=df['country'].str.replace('Portugal','TrueCountry')
df['country']=df['country'].str.replace('Portuga','Portugal')
df['country']=df['country'].str.replace('TrueCountry','Portugal')
df['country']=df['country'].str.replace('US','United States')
df['country']=df['country'].str.replace('Tyskland','Germany')
df['city']=df['city'].str.replace('Amadora\t','Amadora')
df1 = df['country'].value_counts(dropna=False)
df1.sort_index()

#### Now, we have about 2000 NaN country names, to figure out them we use the the city column and map the country based on it's corrosponding city names, therefore the condistions and choice help us to solvee this issue using the np.select.

In [ ]:
def mapcountry(df):
  conditions = [
    (df['city'] == 'Amadora'),
    (df['city'] == 'Annecy'),
    (df['city'] == 'Lisbon'),
    (df['city'] == 'Porto'),
    (df['city'] == 'Barcelona'),
    (df['city'] == 'London'),
    (df['city'] == 'Düsseldorf'),
    (df['city'] == 'Braga'),
    (df['city'] == 'New York'),
    (df['city'] == 'Athens'),
    (df['city'] == 'Aranhas'),
    (df['city'] == 'Patras'),
    (df['city'] == 'Boston'),
    (df['city'] == 'Nanterre'),
    (df['city'] == 'Amiens'),
    (df['city'] == 'Arnhem'),
    (df['city'] == 'Almada'),
    (df['city'] == 'Nice'),
    (df['city'] == 'Paris'),
    (df['city'] == 'Arcueil'),
    (df['city'] == 'Heraklion'),
    (df['city'] == 'Thessaloniki'),
    (df['city'] == 'Niihama'),
    (df['city'] == 'Nice'),
    (df['city'] == 'Asaka'),
    (df['city'] == 'Amsterdam'),
    (df['city'] == 'Lisbon'),
    (df['city'] == 'Lyon'),
    (df['city'] == 'Champagnole'),
    (df['city'] == 'Zürich')]
  choices = ['Portugal', 'France', 'Portugal','Portugal','Spain',
           'United Kingdom','Germany','Portugal','United States',
           'Greece','Portugal','Greece','United States','France',
           'France','Netherlands','Spain','France','France','France','Greece',
           'Greece','Japan','France','Japan','Netherlands','Purtgal',
           'France','France','Switzerland']
  df['country'] = np.select(conditions, choices, default =df['country']) #'Purtgal'
  return df

In [ ]:
df = mapcountry(df)

In [ ]:
df.isnull().sum(axis=0)

#### Now, we have around the 33 Nan for the city names, yet we have the representative company- again we use the same as previous approcah to get the city based on the company names.

In [ ]:
conditions = [
    (df['company'] == 'Thoughtmix'),
    (df['company'] == 'Ntags'),
    (df['company'] == 'Brainsphere'),
    (df['company'] == 'Shufflebeat'),
    (df['company'] == 'Zooxo'),
    (df['company'] == 'Yozio'),
    (df['company'] == 'Teklist'),
    (df['company'] == 'Wordify'),
    (df['company'] == 'Zoonder'),
    (df['company'] == 'Twitterbeat'),
    (df['company'] == 'Kanoodle')]
choices = ['Amadora', 'Lisbon', 'Braga','Porto','London',
           'Patras','Arnhem','New York','Boston',
           'Annecy','Niihama']
df['city'] = np.select(conditions, choices, default =df['city'])

In [ ]:
df.isnull().sum(axis=0)

#### Now taht we have the city names, we use the countrymap to figure out the country names:

In [ ]:
df = mapcountry(df)

In [ ]:
df.isnull().sum(axis=0)

#### Above we can see that we minimum deletion, we only have one Nan in the price- Now we should go to the price column, but we go the date since we need clean date for the price.

### Looking at the 'date' column

#### the problem we figured out in converting the date as object column to datetime was the two of the rows had the day 32 on june, so we assumed that it could be the 2 of July, instead of 32 June.

In [ ]:
df['date']=df['date'].str.replace('2016-06-32 07:22:28','2016-07-2 07:22:28')
df['date']=df['date'].str.replace('2016-06-32 08:08:48','2016-07-2 08:08:48')
df['date'] = df['date'].astype('datetime64[ns]')
df[3539:3541]

# Part 2: Enriching the data

Now, the price column must be modified to have all data on single currency, to do that we assume that:
* The rows with Na, void, and - is removed since has no specific information
* Assume that the negative sign has been written by mistake, so we make them positive.

Then, the cleanfinal_float shows the column with price data in float format.

In [ ]:
df.dropna(subset= ['price'], inplace=True)
newdf =df[df.price != 'void']
newdf =newdf[df.price != '-']
newdf =newdf[newdf.price != 'na']
newdf['Clean_Price']=newdf['price'].str.replace('€','').str.replace('£','').str.replace('$','').str.replace('¥','').str.replace('-','')
newdf['Cleanfinal_float']= newdf.Clean_Price.astype(str).astype(float)

#### Here, we make division to the price data so that, in the next section we could use the appropriate api to find the conversation rate.

In [ ]:
df_pond=newdf[newdf.price.str.contains('£')]
df_pond = df_pond.reset_index(drop=True)


df_yen=newdf[newdf.price.str.contains('¥')]
df_yen = df_yen.reset_index(drop=True)


df_dolar=newdf[newdf.price.str.contains('\$')]
df_dolar = df_dolar.reset_index(drop=True)


df_euro=newdf[newdf.price.str.contains('€')]
df_euro = df_euro.reset_index(drop=True)

#### The below function find the rate of change for aother currencies at each day (unique days), and save them in the new column named conversion.

In [ ]:
def apiconversion(currency, df):
    df.loc[:, 'Conversion'] = 0
    address= 'https://api.exchangeratesapi.io/YY-MM-DD?symbols=CURRENCY'
    XTime = address.replace('CURRENCY',currency)
    saveddate = '111111'
    for index in range(len(df)):
        YY = df.date.iloc[index].year
        MM = df.date.iloc[index].month
        DD = df.date.iloc[index].day
        X_YY=XTime.replace('YY',str(YY))
        X_YY_MM = X_YY.replace('MM',str(MM))
        X_YY_MM_DD = X_YY_MM.replace('DD',str(DD))
        date = str(YY) + str(MM) + str (DD)
        if date == saveddate:
            df.loc[index,'Conversion']=savedrate
        else:
            saveddate= str(YY) + str(MM) + str (DD)
            r_s= requests.get(X_YY_MM_DD)
            json_response=r_s.json()
            data_ratio=json_response
            savedrate=data_ratio['rates'][currency]
            df.loc[index,'Conversion']=savedrate
    return df

In [ ]:
df_pond_conversion=apiconversion('GBP',df_pond)
df_dolar_conversion=apiconversion('USD',df_dolar)
df_yen_conversion=apiconversion('JPY',df_yen)

#### Dividing the the price in another currencie to the rate of change to have one unique final currency, Euro.

In [ ]:
df_dolar_conversion['Price_euro'] = df_dolar_conversion['Cleanfinal_float']/df_dolar_conversion['Conversion']
df_pond_conversion['Price_euro'] = df_pond_conversion['Cleanfinal_float']/df_pond_conversion['Conversion']
df_yen_conversion['Price_euro'] = df_yen_conversion['Cleanfinal_float']/df_yen_conversion['Conversion']
df_euro['Price_euro'] = df_euro['Cleanfinal_float']

In [ ]:
DF_euro = df_euro[['part','company','country','city','price','date','Price_euro']]
DF_pond = df_pond_conversion[['part','company','country','city','price','date','Price_euro']]
DF_dolar = df_dolar_conversion[['part','company','country','city','price','date','Price_euro']]
DF_yen = df_yen_conversion[['part','company','country','city','price','date','Price_euro']]

### The DF is the clean data ready for building datatable.

In [ ]:
DF= DF_euro.append([DF_pond,DF_dolar,DF_yen])

In [ ]:
DF['id'] = np.arange(len(DF))
DF.set_index('id')

---
## Part 3: Creating a database
Storing data in a relational database has the advantages that it is persistent, fast to query, and it will be easier access for other employees at Weyland-Yutani.

In this part you should:
- Create a database and table(s) for the data
- Insert data into the tables

You may use SQLite locally to do this. You should argue why you choose to store your data the way you do.

In [ ]:
import sqlite3
from sqlite3 import Error
 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return conn

In [ ]:
def create_table(conn, create_table_sql):
    """ create a table from the create_table_sql statement
    :param conn: Connection object
    :param create_table_sql: a CREATE TABLE statement
    :return:
    """
    try:
        c = conn.cursor()
        c.execute(create_table_sql)
    except Error as e:
        print(e)

In [ ]:
def create_client(conn, client):
    """
    Create a new client into the clients table
    :param conn:
    :param client:
    :return: client id
    """
    sql = ''' INSERT INTO clients(name,country,city)
              VALUES(?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, client)
    return cur.lastrowid

In [ ]:
def create_transaction(conn, transaction):
    """
    Create a new transaction into the transactions table
    :param conn:
    :param transaction:
    :return: transaction id
    """
    sql = ''' INSERT INTO transactions(number,product,amount,date,company)
              VALUES(?,?,?,?,?) '''
    cur = conn.cursor()
    cur.execute(sql, transaction)
    return cur.lastrowid

In [ ]:
from datetime import datetime

In [ ]:
database = r"C:\sqlite\db\psqlite.db"
 
sql_create_projects_table = """ CREATE TABLE IF NOT EXISTS clients (
                                        name text NOT NULL PRIMARY KEY,
                                        country text,
                                        city text
                                    ); """
 
sql_create_tasks_table = """CREATE TABLE IF NOT EXISTS transactions (
                                    number text PRIMARY KEY,
                                    product text,
                                    amount double,
                                    date date,
                                    company text,
                                    FOREIGN KEY (company) REFERENCES clients (name)
                                );"""
 
# create a database connection
conn = create_connection(database)
 
# create tables
if conn is not None:
    # create clients table
    create_table(conn, sql_create_projects_table)
 
    # create transactions table
    create_table(conn, sql_create_tasks_table)
else:
    print("Error! cannot create the database connection.")
       

#Now lets insert the data in our tables
#First we start inserting the clients
# We get a unique row for every company to fill the companies table
df_company=DF.drop_duplicates('company')
for index,row in df_company.iterrows():
    client_command=(row['company'],row['country'],row['city'])
    client_id = create_client(conn, client_command)

      
#Now we insert the transactions
for index,row in DF.iterrows():
    transaction_command=(row['id'],row['part'],row['Price_euro'],row['date'].strftime('%Y-%m-%d'),row['company'])
    transaction_id = create_transaction(conn, transaction_command)
    
# Save (commit) the changes
conn.commit()

# We can also close the connection if we are done with it.
# Just be sure any changes have been committed or they will be lost.
conn.close()
#     cur = conn.cursor()
#     cur.execute("SELECT * FROM clients")
 
#     rows = cur.fetchall()
 
#     for row in rows:
#         print(row)

In [ ]:
database = r"C:\sqlite\db\psqlite.db"
conn = create_connection(database)

cur = conn.cursor()
cur.execute("SELECT * FROM transactions")
 
rows = cur.fetchall()
for row in rows:
  print(row)
  
conn.commit()
conn.close()

---
## Part 4: Analyzing the data
You are now ready to analyze the data. Your goal is to gain some actionable business insights to present to your boss. 

In this part, you should ask some questions and try to answer them based on the data. You should write SQL queries to retrieve the data. For each question, you should state why it is relevant and what you expect to find.

To get you started, you should prepare answers to the following questions. You should add more questions.
#### Who are the most profitable clients?
Knowing which clients that generate the most revenue for the company will assist your boss in distributing customer service ressources.

#### Are there any clients for which profit is declining?
Declining profit from a specific client may indicate that the client is disatisfied with the product. Gaining a new client is often much more work than retaining one. Early warnings about declining profit may help your boss fighting customer churn.


Remember, you are taking this to your new boss, so think about how you present the data.

In [ ]:
database = r"C:\sqlite\db\psqlite.db"
conn = create_connection(database)
#Who are the most profitable clients?
#Lets short the clients by amount desc
cur = conn.cursor()
cur.execute("SELECT * FROM (SELECT company, SUM(amount) AS amount FROM transactions GROUP BY company) ORDER BY amount DESC")
 
rows = cur.fetchall()
for row in rows:
  print(row)
print(len(rows))

  
conn.commit()
conn.close()

In [ ]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from dateutil import parser
from matplotlib import style

In [ ]:
database = r"C:\sqlite\db\psqlite.db"
conn = create_connection(database)

#Are there any clients for which profit is declining?
cur = conn.cursor()
cur.execute("SELECT month, amount FROM (SELECT strftime('%m', date) as month, amount FROM transactions WHERE company='Tagtune' ORDER BY date ASC) GROUP BY month")
 
dates = []
values = []

rows = cur.fetchall()
for row in rows:
  #print(row)
  dates.append(parser.parse(row[0]))
  values.append(row[1])

plt.plot_date(dates,values,'-')
plt.show()

  
conn.commit()
conn.close()

---
## Part 5: Performance
Your boss is very impressed with what you have achieved in less than two weeks, and he would like to take your idea of storing the customer and sales data in a relational database to production. However, John is concerned that the solution will not scale. His experience is telling him that you will see many occurrences of the following queries.

- Show all sales to company X between time $t_1$ and time $t_2$
- Show the latest X sales in the database
- Show total sales per company per day

Show that Johns concern is not justified.

In [ ]:
database = r"C:\sqlite\db\psqlite.db"
conn = create_connection(database)

#Show all sales to company X between time  t1  and time  t2
cur = conn.cursor()
cur.execute("SELECT * FROM transactions WHERE company='Yozio' AND date>='2018-12-23' AND date<='2018-12-26'")
 
rows = cur.fetchall()
for row in rows:
  print(row)
print(len(rows))

  
conn.commit()
conn.close()

In [ ]:
database = r"C:\sqlite\db\psqlite.db"
conn = create_connection(database)


#Show the latest X sales in the database
cur = conn.cursor()
cur.execute("SELECT * FROM transactions ORDER BY date DESC LIMIT 10")
 
rows = cur.fetchall()
for row in rows:
  print(row)
print(len(rows))
  
conn.commit()
conn.close()

In [ ]:
database = r"C:\sqlite\db\psqlite.db"
conn = create_connection(database)

#Show total sales per company per day
cur = conn.cursor()
cur.execute("SELECT company,DATE(date), SUM(amount) FROM transactions GROUP BY company,DATE(date)")

  
rows = cur.fetchall()
for row in rows:
  print(row)
print(len(rows))

  
conn.commit()
conn.close()